@import "bootstrap/dist/css/bootstrap.css";

.meme__text {
  font-family: "Anton", sans-serif;
  position: absolute;
  paint-order: stroke fill;
  outline: 4px dashed rgba(255, 0, 0, 0.7);
  white-space: nowrap;
}

.meme--rendering .meme__text {
  outline: none;
}
